html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    background-image: url('./assets/mapa.png');
    background-size: cover;
    width: 70em;
    height: 95vh;
    padding: 2em;
    margin-left: 8em;
    margin-top: 1em;
    border-radius: 10px;
    background-repeat: no-repeat;
    opacity: .9;
    color: #121212;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    background-blend-mode:color;
    background-color: rgba(0,0,0,.2);
    box-shadow:  9px 9px 18px #5a3c28,
             -9px -9px 18px #786356;
}
.small-flag {
    width: 50px;
}

.mr-1 {
    margin-right: 5px;
    color: #121212;
    background-color: #ffffff;
    font-size: .9em;
}
